import os

os.environ.setdefault("DEVELOPMENT", "False")

os.environ.setdefault("STRIPE_PUBLISHABLE", "")
os.environ.setdefault("STRIPE_SECRET", "")

os.environ.setdefault("DATABASE_URL", "")
os.environ.setdefault("SECRET_KEY", '')

os.environ.setdefault("AWS_ACCESS_KEY_ID", "")
os.environ.setdefault("AWS_SECRET_ACCESS_KEY", "")