@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

body {
    font-family: 'Noto Sans', sans-serif;
    color: #222222;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    color: #6155d6;
}

/*============================ MESSAGES ============================*/
.alert.alert-danger {
    color: #ff6979;
    text-align: center;
    background-color: transparent;
    border: none;
}

.error-msg {
    font-size: 0.75rem;
    color: #ff6979;
}

.help-block {
    font-size: 0.75rem;
}

/*============================ STATUS CODE PAGES ============================*/
.error {
    text-align: center;
}

.error-code {
    text-align: center;
    font-size: 2rem;
    margin-top: 70px;
}

/*============================ NAVIGATION ============================*/
.navbar {
    height: 60px;
    background-color: #6155d6 !important;
    color: white;
    padding: 0;
}


.navbar-nav {
    background-color: white;
    border-bottom: 1px solid #bfbfbf;
    height: 100%
}

.navbar-nav .nav-item {
    padding-left: 10px;
    padding-right: 10px;
    
}

.navbar-nav .nav-item a{
    transition: color .3s;
    
}

.navbar-nav .nav-item:hover a{
    color: #3ecf8e;
    
}

.navbar-nav .nav-item .nav-link {
    color: #6155d6;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar .container {
    padding: 0;
    height:100%;
    z-index: 1;
}

.navbar a {
    color: white;
    transition: color .2s;
}

.navbar-brand {
    height:100%;
    padding: 0;
    padding-left: 10px;
}

.navbar-brand img {
    height: 100%;
    transition: opacity .2s;
}

.navbar-brand img:hover {
    opacity: .8;
}

.navbar-toggler {
    padding-right: 10px;
}

.fas {
    color: white;
    font-size: 1.5em;
}

/*============================ Homepage ============================*/
main {
    margin-top: 20px;
}

.content {
    margin-top: 40px;
    z-index: 2;
}

.message {
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    background-color: #aff1b6;
    position: absolute;
}

.username {
    font-weight: 700;
    font-size: 20px;
    color: #3ecf8e;
}

.register-link {
    color: #3ecf8e;
}

.register-link:hover {
    color: #3ecf8e;
}

.issues-button {
    width: 200px;
    height: 60px;
    border: 1px solid #eeeeee;
    font-size: 1.375rem;
    display: flex;
    justify-content: center;
    align-items:center;
    transition: background-color .2s;
    -webkit-box-shadow: 0px 0px 10px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 10px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 10px -6px rgba(97,85,214,1);
}

.issues-button:hover {
    cursor: pointer;
    background-color: #6155d6;
    color: white;
}

.issues-button a {
    color: #6155d6;
    text-decoration: none;
    transition: color .2s;
}

.issues-button:hover a {
    color: white;
}

.home-primary-content {
    padding-bottom: 40px;
}

.home-secondary-content {
    margin-top: 40px;
}

.home-secondary-content .icon {
    display: none;
}
.home-secondary-content i {
    font-size: 10em;
    color: #3ecf8e;
}

/*--------------------------- LOGIN FORM ---------------------------*/

#login-form {
    background-color: white;
    padding: 10px;
    margin-top:40px;
    -webkit-box-shadow: 0px 0px 10px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 10px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 10px -6px rgba(97,85,214,1);
}

#login-form .login-form-heading {
    width: 100%;
    text-align: center;
    color: #6155d6;
    font-size: 1.5rem;
} 

#login-form label {
    color: #444444;
}

#login-form input:focus {
    border-color: #3ecf8e;
    box-shadow: 0 0 0 0.2rem rgba(62, 207, 142, .25);
}

#login-form button {
    padding: 10px;
    width: 100%;
    font-size: 20px;
    color: white;
    background-color: #3ecf8e; 
    border: none;
    transition: background-color .3s, color .3s;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 10px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 10px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 10px -6px rgba(97,85,214,1);
}

#login-form button:hover {
    background-color: white; 
    color: #3ecf8e;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link p {
    padding-top: 1rem;
    margin: 0;
}


/*========================== REGISTER PAGE - FORM ==========================*/
.register .register-content {
    border: 1px solid #eeeeee;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 10px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 10px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 10px -6px rgba(97,85,214,1);
}

.register h1 {
    color: #6155d6;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

.register .login-link {
    padding-top: 1rem;
    text-align: center;
    margin:0;
}

.register .login-link a {
    color: #3ecf8e;
}

#register-form input:focus {
    border-color: #3ecf8e;
}

#register-form button {
    padding: 10px;
    width: 100%;
    font-size: 20px;
    color: white;
    background-color: #3ecf8e; 
    border: none;
    transition: background-color .3s, color .3s;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 10px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 10px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 10px -6px rgba(97,85,214,1);
}

#register-form button:hover {
    background-color: white; 
    color: #3ecf8e;
}

/*========================== REGISTER ERROR PAGE ==========================*/
.register-error {
    margin-top:50px;
    width:100%;
    text-align: center;
    font-size: 1.25rem;
}

/*========================== REGISTER ERROR PAGE ==========================*/
.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-username {
    border: 1px solid #eeeeee;
    padding: 10px;
    color: #6155d6;
    margin-top: 40px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);  
}

.other-info {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #eeeeee;
    flex-grow: 1;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);  
}

.upvotes-info {
    border: 1px solid #eeeeee;
    margin-top: 5px;
    -webkit-box-shadow: 0px 0px 10px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 10px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 10px -6px rgba(97,85,214,1);
}    

.other-info span {
    color: #45b2e8;
    font-weight: 700;
}

.upvotes-info a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: color .3s;
}

.upvotes-info a .purchase-button {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s;
    background-color: #45b2e8;
}

.upvotes-info a:hover {
    color: #45b2e8;
}

.upvotes-info a .purchase-button:hover {
    background-color: white;
}

.profile-image {
    display: flex;
    flex-direction: column;
}

.image {
    display: flex;
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.change-image-button {
    border: 1px solid #eeeeee;
    margin-top: 5px;
    -webkit-box-shadow: 0px 0px 10px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 10px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 10px -6px rgba(97,85,214,1);
}  

.change-image-button a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: color .3s;
}

.change-image-button a .change-button {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#3ecf8e;
    transition: background-color .3s;
}

.change-image-button a:hover {
    color: #3ecf8e;
}

.change-image-button a .change-button:hover {
    background-color: white;
}

.update-image h3 {
    padding: 10px;
    border: 1px solid #eeeeee;
    text-align: center;
    margin: 0;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);    
}

.form-inputs {
    padding: 10px;
    border: 1px solid #eeeeee;
    margin-top: 5px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);  
}

.form-inputs input[type="file"] {
    width: 100%;
}

.update-button {
    background-color: #3ecf8e;
    color: white;
    border: none;
    border-radius: 3px;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    margin-top: 5px;
    -webkit-box-shadow: 0px 0px 10px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 10px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 10px -6px rgba(97,85,214,1);
    transition: background-color .3s, color .3s;
}

.update-button:hover {
    color: #3ecf8e;
    background-color: white;
}

/*========================== FOOTER ==========================*/
footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #eeeeee;
    margin-top: 70px;
}

footer p {
    margin: 0;
}
/*========================== MEDIA QUERIES ==========================*/
@media only screen and (min-width: 576px) {
    #navbarSupportedContent {
        height: 100%
    }
    
    .navbar-nav {
        background-color: #6155d6;
        border-bottom: none;
    }
    
    .navbar-nav .nav-item .nav-link {
        color: white;
    }
    
    #login-form {
        padding: 20px;
    }
    
    .register .register-content {
        padding: 20px;
    }
    
    .profile-username {
        padding: 20px;
        text-align: left;
    }
    
    .other-info {
        padding: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .profile-info {
        padding-right: 0;
    }
    
    .profile-image {
        padding-left: 5px;
    }
    
    .profile-username {
        margin-top: 0;
    }
    
    .update-image form {
        padding: 20px;
        border: 1px solid #eeeeee;
        margin-top: 5px;
        -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
        -moz-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
        box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);  
    }
    
    .update-image .col-md-7 {
        padding-right: 0;
        display: flex;
        align-items: center;
    }
    
    .form-inputs {
        border: none;
        padding: 0;
    }
    
    .update-image .col-md-5 {
        padding-left: 5px;
    }
    
    .update-button {
        margin-top: 0;
    }
}

@media only screen and (min-width: 992px) {
    .content {
        margin-top: 70px;
    }
    
    #login-form {
        margin-top: 0;
    }
    
    .home-secondary-content .icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}