@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

body {
    font-family: 'Noto Sans', sans-serif;
    color: #383c40;
}

/*============================ HEADINGS ============================*/
h1 {
    color: #6155d6;
}

h2 {
    color: #6155d6;
}

h3 {
    color: #6155d6;
    margin-bottom: 20px;
}

h5 {
    text-align: center;
    margin-bottom: 20px;
}

/*============================ BUTTONS ============================*/
.button {
    padding: 10px;
    width: 100%;
    font-size: 20px;
    color: white;
    background-color: #3ecf8e; 
    border: none;
    -webkit-transition: background-color .3s, color .3s;
    -o-transition: background-color .3s, color .3s;
    transition: background-color .3s, color .3s;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}

.button:hover {
    background-color: white; 
    color: #3ecf8e;
}

.checkout .make-purchase,
.upvote-purchase .inputs button.continue,
.update-button {
    margin-top: 20px;
}

.issues-button {
    width: 200px;
    height: 60px;
    border: 1px solid #eeeeee;
    font-size: 1.375rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}

.issues-button:hover {
    cursor: pointer;
    background-color: #6155d6;
    color: white;
}

.issues-button a {
    color: #6155d6;
    text-decoration: none;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}

.issues-button:hover a {
    color: white;
}

.button-two {
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}  

.button-two a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}

.button-two a span {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color:#3ecf8e;
    -webkit-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
    border-radius: 3px;
}

.button-two a:hover {
    color: #3ecf8e;
}

.button-two a span:hover {
    background-color: white;
}

.change-image-button,
.purchase-upvotes-button {
    margin-top: 5px;
}

.purchase-upvotes-button a .purchase-button {
    background-color: #45b2e8;
}

.purchase-upvotes-button a:hover {
    color: #45b2e8;
}

/* input spinner style */
.input-group span {
    background-color: #6155d6;
    color: white;
    border-left: none;
}

.input-group button {
    border-color: #dddddd;
    -webkit-transition: background-color .3s, color .3s;
    -o-transition: background-color .3s, color .3s;
    transition: background-color .3s, color .3s;
}

.input-group button:hover {
    background-color: #3ecf8e !important;
    color: white !important;
    border-color: #dddddd !important;
}

.input-group button:active {
    background-color: #3ecf8e !important;
    color: white !important;
    border-color: #dddddd !important;
}

/*============================ FOCUS ============================*/
#login-form input:focus,
#register-form input:focus,
/* input group belongs to input spinner*/
.input-group button:focus,
.input-group .form-control:focus,
.create-issue form input:focus,
.create-issue form select:focus,
.create-issue form textarea:focus,
.comment-add-form textarea:focus,
.dropdown .btn:focus {
    border-color: #3ecf8e !important;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(62, 207, 142, .25) !important;
            box-shadow: 0 0 0 0.2rem rgba(62, 207, 142, .25) !important;
}

/*============================ MESSAGES ============================*/
.alert.alert-danger {
    color: #ff6979;
    text-align: center;
    background-color: transparent;
    border: none;
}

.error-msg {
    font-size: 0.75rem;
    color: #ff6979;
}

.help-block {
    font-size: 0.75rem;
}

.message {
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    background-color: #aff1b6;
    position: absolute;
}

.messages {
    color: #ff6979;
}

/*============================ STATUS CODE PAGES ============================*/
.error {
    text-align: center;
}

.error-code {
    text-align: center;
    font-size: 2rem;
    margin-top: 70px;
}

/*============================ NAVIGATION ============================*/
.navbar {
    height: 60px;
    background-color: #6155d6 !important;
    color: white;
    padding: 0;
}

.navbar-nav {
    background-color: white;
    border-bottom: 1px solid #bfbfbf;
    height: 100%
}

.navbar-nav .nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-nav .nav-item a{
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}

.navbar-nav .nav-item:hover a{
    color: #3ecf8e;
}

.navbar-nav .nav-item .nav-link {
    color: #6155d6;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.navbar-nav .nav-item .nav-link i {
    font-size: 1rem;
    color: #6155d6;
    margin-left: 10px;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}

.navbar-nav .nav-item:hover a i {
    color: #3ecf8e;
}

.navbar .container {
    padding: 0;
    height:100%;
    z-index: 1;
}

.navbar a {
    color: white;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}

.navbar-brand {
    height:100%;
    padding: 0;
    padding-left: 10px;
}

.navbar-brand img {
    height: 100%;
    background-color: #6155d6;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

.navbar-brand img:hover {
    background-color: #3ecf8e;
}

.navbar-toggler {
    padding-right: 10px;
}

.fas {
    color: white;
    font-size: 1.5em;
}

/*============================ HOMEPAGE ============================*/
main {
    margin-top: 20px;
}

.content {
    margin-top: 40px;
    z-index: 2;
}

.username {
    font-weight: 700;
    font-size: 20px;
    color: #3ecf8e;
}

.login-register-link {
    color: #3ecf8e;
}

.login-register-link:hover {
    color: #3ecf8e;
}

.home-primary-content {
    padding-bottom: 40px;
}

.home-primary-content h1,
.home-primary-content h2 {
    color: #383c40;
}

.home-primary-content hr {
    border-color: #eeeeee;
}

.home-secondary-content {
    margin-top: 40px;
    margin-bottom: 40px;
}

.home-secondary-content .icon {
    display: none;
}
.home-secondary-content i {
    font-size: 10em;
    color: #3ecf8e;
}

.home-secondary-content p,
.home-tertiary-content p {
    margin: 0;
}

.home-secondary-content .col-sm-12:last-of-type,
.home-tertiary-content,
.home-quaternary-content {
    margin-top: 40px;
}

.home-tertiary-content .col-sm-12,
.home-quaternary-content .col-sm-12, 
.home-primary-content p {
    margin-bottom: 40px;
}

.recent-issues .issue {
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}

.issue-icon {
    width: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.recent-issues .issue i {
    color: #666666;
    font-size: 1rem;
}

.recent-issues .issue p {
    margin-bottom: 0;
    margin-left: 10px;
}

.recent-issues .large-display {
    display: none;
}

.recent-issues p.created-date {
    color: #666666;
    font-size: .75rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-left: auto;
}

.day_before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    font-size: 150px;
    color: #6155d6;
}

/*========================== HOMEPAGE - LOGIN FORM ==========================*/

#login-form {
    background-color: white;
    padding: 10px;
    margin-top:40px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}

#login-form .login-form-heading {
    width: 100%;
    text-align: center;
    color: #6155d6;
    font-size: 1.5rem;
} 

#login-form label {
    color: #444444;
}

.link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.link p {
    padding-top: 1rem;
    margin: 0;
}


/*========================== REGISTER PAGE - FORM ==========================*/
.register .register-content {
    border: 1px solid #eeeeee;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}

.register h1 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

.register .login-link {
    padding-top: 1rem;
    text-align: center;
    margin:0;
}

.register .login-link a {
    color: #3ecf8e;
}

/*========================== REGISTER ERROR PAGE ==========================*/
.register-error {
    margin-top:50px;
    width:100%;
    text-align: center;
    font-size: 1.25rem;
}

/*========================== PROFILE ==========================*/
.profile-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
}

.profile-info article {
    padding: 10px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; 
}

.profile-info h1 {
    text-align: center;  
}

.profile-info hr {
    border-color: #eeeeee;
}

.other-info span {
    color: #45b2e8;
    font-weight: 700;
}

.profile-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.update-image {
    padding: 10px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}

.update-image h1 {
    text-align: center;
}

.update-image hr {
    border-color: #eeeeee;
}

.update-image > form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.update-image > form > input#id_image {
    padding: 10px;
    border: 1px solid #dddddd;
    width: 100%;
}

/*========================== ISSUES ==========================*/
.heading hr {
    margin-bottom: 40px;
    border-color: #eeeeee;
}

.buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.buttons p {
    margin-bottom: 0;
    text-align: center;
}

.dropdown {
    margin: 40px 0;
}

.dropdown .btn {
    color: #222222;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}

.dropdown .dropdown-toggle {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
}

.dropdown .dropdown-toggle::after {
    content: none;
}

.dropdown .dropdown-toggle p {
    margin: 0;
}

.dropdown .dropdown-toggle i {
    color: #222222;
    font-size: 1rem;
}

.dropdown-menu.show {
    width: 100%;
    padding: 0;
}

.dropdown-item {
    padding: 10px;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #3ecf8e;
}

.no-issues-message p {
    text-align: center;
    margin-bottom: 0;
}

.issue {
    margin-bottom: 10px;
}

.issue article {
    padding: 10px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}

.issue i {
    font-size: 1.5rem;
    color: #666666;
}

.issue-top-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem;
}

.issue-top-info > section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.status {
    padding: 3px 5px;
    margin: 0;
    margin-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-size: .75rem;
}

.ic {
    background-color: #f5be58;
}

.ip {
    background-color: #3ecf8e;
}

.ct {
    background-color: #3297d3;
}

.issue-top-info > section > i:last-child {
    margin-left: 10px;
    color: #f6a4eb;
}

.upvotes-count {
    margin: 0;
    color: #3297d3;
    padding: 0 5px;
    border: 1px solid #dddddd;
}

.upvotes-count i {
    color: #3297d3;
    font-size: 1rem;
}

.title-comments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.title-comments i {
    margin-right: 2px;
}

.issue-bottom-info {
    margin-top: 10px;
}

.title-comments a {
    color: #3297d3;
    word-wrap: break-word;
    max-width: 90%;
}

.title-comments p {
    margin-bottom: 0;
}

.dates {
    margin-top: 10px;
    font-size: .75rem;
}

.dates p {
    margin: 0;
}

.dates p:last-of-type {
    color: #666666;
}

.dates p.created-date {
    margin-bottom: 5px;
    color: #222222;
}

/*========================== ISSUE DETAILS ==========================*/
.issue-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.issue-details hr {
    width: 100%;
    border-color: #eeeeee;
    margin: 20px 0;
}

.issue_title {
    color: #6155d6;
    font-size: 1.75rem;
    word-wrap: break-word;
    margin: 0;
}

.status-and-upvotes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
    position: relative;
}

.status-and-upvotes .upvotes-message {
    color: #ff6979;
    font-size: .75rem;
    position: absolute;
    right: 0;
    top: -20px;
    text-align: right;
}

.status-and-upvotes section:first-child {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}

.status-and-upvotes i {
    font-size: 1.5rem;
    color: #666666;
}

.status-and-upvotes i.fa-trash-alt {
    margin-left: 25px;
    color: #f6a4eb;
}

.status-and-upvotes a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.upvotes a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
    outline: 1px solid #dddddd;
    padding: 0 5px;
    color: #3297d3;
    text-decoration: none;
}

.upvotes a i,
.upvotes-disabled i {
    color: #3297d3;
    font-size: 1rem;
}

.upvotes a:hover {
    color: white;
    background-color: #3297d3;
    outline: none;
}

.upvotes a:hover i {
    color: white;
}

.upvotes p {
    margin: 0;
}

.upvotes-done {
    margin: 0;
    color: white;
    padding: 0 5px;
    background-color: #3297d3;
}

.upvotes-disabled {
    margin: 0;
    outline: 1px solid #dddddd;
    color: #3297d3;
    padding: 0 5px;
}

.upvotes-done i {
    color: white;
    font-size: 1rem;
}

.description {
    margin-top: 10px;
    word-wrap: break-word;
}

.description p {
    margin: 0;
}

.date {
    margin-top: 10px;
    font-size: .75rem;
}

.date p {
    margin: 0;
}

.comments {
    margin-top: 40px;
}

.comments form {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.comments-list {
    margin-top: 40px;
}

.comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
}

.comment-content {
    width: 100%;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}

.user-image {
    margin-right: 10px;
}

.user-image section {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.comment-header {
    font-size: .75rem;
}

.comment-header p {
    margin: 0;
}

.comment-body p {
    word-wrap: break-word;
}

.no-comments-message {
    margin-top: 40px;
    margin-bottom: 0;
    text-align: center;
}

/*========================== CREATE ISSUE ==========================*/
.create-issue article {
    padding: 10px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}

.create-issue h1 {
    text-align: center;
}

.create-issue form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/*========================== BEGIN PURCHASE ==========================*/
.upvote-purchase {
    padding: 10px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}

.upvote-purchase hr {
    border-color: #eeeeee;
}

.upvote-purchase .inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/*========================== CONTINUE PURCHASE ==========================*/
.checkout {
    padding: 10px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}

.checkout > hr {
    border-color: #eeeeee;
}

.purchase-details h2 {
    color: #383c40;
    margin-bottom: 20px;
    font-size: 1.35rem;
}

.purchase-details section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.purchase-details section p:last-of-type {
    font-weight: 700;
}

.checkout .form-row {
    margin: 0;
    margin-top: 40px;
}

.checkout .form-row label {
    font-size: .75rem;
    color: #444444;
}

.StripeElement {
    background-color: white;
    width: 100%;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 3px 0 #e6ebf1;
            box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    -webkit-transition: -webkit-box-shadow 150ms ease;
    transition: -webkit-box-shadow 150ms ease;
    -o-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease, -webkit-box-shadow 150ms ease;
}

#card-errors {
    font-size: 0.75rem;
    color: #ff6979;
    margin-top: 10px;
}

/*========================== FINISH PURCHASE ==========================*/
.purchase-finished {
    padding: 10px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}

.purchase-finished hr {
    border-color: #eeeeee;
}

.purchase-finished span {
    color: #45b2e8;
}

/*========================== PAGINATION ==========================*/
.pagination-section {
    margin-top: 40px;
}

.pagination-section .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
} 

.pagination-section li {
    width: 35px;
    height: 35px;
    font-size: 1.25rem;
    border: 1px solid white;
    background-color: #aff1b6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 3px;
    -webkit-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
}

.pagination-section li:hover {
    background-color: #3ecf8e;
}

.pagination li.disabled {
    background-color: #dddddd;
}

.pagination li.active {
    background-color: #3ecf8e;
    color: white;
}

.pagination li a {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-weight: 700;
    text-decoration: none;
}

/*========================== FOOTER ==========================*/
footer {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #eeeeee;
    margin-top: 70px;
}

footer p {
    margin: 0;
}

/*========================== MEDIA QUERIES ==========================*/
@media only screen and (min-width: 576px) {
    /*==== INDEX ====*/
    .recent-issues .small-display {
        display: none;
    }
    
    .recent-issues .large-display {
        display: initial;
    }
    
    /*==== PROFILE/UPDATE PROFILE IMAGE/CREATE ISSUE HEADINGS ====*/
    .profile-info h1,
    .update-image h1,
    .create-issue h1 {
        text-align: left;
    }
    
    /*==== INDEX/REGISTER/PROFILE/UPDATE PROFILE IMAGE/CREATE ISSUE ====*/
    #login-form,
    .register .register-content,
    .profile-info article,
    .update-image,
    .create-issue article {
        padding: 20px;
    }
    
    /*==== ISSUE ====*/
    .dates {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    
    /*==== ISSUE DETAILS ====*/
    .description,
    .date {
        margin-top: 20px;
    }
}

@media only screen and (min-width: 768px) {
    /*==== NAVIGATION ====*/
    #navbarSupportedContent {
        height: 100%
    }
    
    .navbar-nav {
        background-color: #6155d6;
        border-bottom: none;
    }
    
    .navbar-nav .nav-item .nav-link,
    .navbar-nav .nav-item .nav-link i {
        color: white;
    }
    
    /*==== PROFILE ====*/
    .profile-info {
        margin-top: 0;
        padding-right: 0;
    }
    
    .profile-image {
        padding-left: 5px;
    }
    
    .profile-username {
        margin-top: 0;
    }
    
    .change-image-button,
    .purchase-upvotes-button{
        max-width: 250px;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
    
    /*==== UPDATE PROFILE IMAGE ====*/
    .update-image > form {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    
    .update-image > form input#id_image {
        padding: 10px;
    }
    
    .update-image > form button {
        margin-left: 10px;
        margin-top: 0;
        max-width: 160px;
    }
    
    /*==== ISSUE DETAILS ====*/
    .comment-add-form button {
        max-width: 190px;
        -ms-flex-item-align: end;
            align-self: flex-end;
    }
    
    /*==== CREATE ISSUE ====*/
    .create-issue button {
        max-width: 180px;
        margin-left: auto;
    }

    /*==== ISSUES ====*/
    .buttons {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        margin-bottom: 40px;
    }
    
    .create-issue-button {
        max-width: 250px;
    }
    
    .dropdown {
        margin-top: 0;
        margin-bottom: 0;
        width: 160px;
    }
    
    /*==== BEGIN PURCHASE ====*/
    .upvote-purchase {
        padding: 20px;
    }
    
    .upvote-purchase .inputs {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }
    
    .upvote-purchase .inputs .input-group {
        max-width: 200px;
    }
    
    .upvote-purchase .inputs button.continue {
        margin-top: 0;
        margin-left: 20px;
        max-width: 250px;
    }
    
    /*==== CONTINUE PURCHASE/FINISH PURCHASE ====*/
    .checkout,
    .purchase-finished {
        padding: 20px;
    }
    
    .purchase-details,
    .checkout .form-row {
        width: 50%;
    }
    
    #payment-form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    
    .checkout .make-purchase {
        width: 120px;
    }
}

@media only screen and (max-width: 768px) {
    /*==== NAVIGATION ====*/
    .navbar .container {
        max-width: 100%
    }
}

@media only screen and (min-width: 992px) {
    /*==== ALL ====*/
    .content {
        margin-top: 70px;
    }
    
    /*==== INDEX ====*/
    #login-form {
        margin-top: 0;
    }
    
    .home-secondary-content .icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        min-height: 400px;
    }
    
    /*==== ISSUE ====*/
    .issue article {
        padding: 20px;
    }
}