@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

body {
    font-family: 'Noto Sans', sans-serif;
    color: #222222;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    color: #6155d6;
}

/*============================ MESSAGES ============================*/
.alert.alert-danger {
    color: #ff6979;
    text-align: center;
    background-color: transparent;
    border: none;
}

.error-msg {
    font-size: 0.75rem;
    color: #ff6979;
}

.help-block {
    font-size: 0.75rem;
}

.message {
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    background-color: #aff1b6;
    position: absolute;
}

.messages {
    color: #ff6979;
}

/*============================ STATUS CODE PAGES ============================*/
.error {
    text-align: center;
}

.error-code {
    text-align: center;
    font-size: 2rem;
    margin-top: 70px;
}

/*============================ NAVIGATION ============================*/
.navbar {
    height: 60px;
    background-color: #6155d6 !important;
    color: white;
    padding: 0;
}


.navbar-nav {
    background-color: white;
    border-bottom: 1px solid #bfbfbf;
    height: 100%
}

.navbar-nav .nav-item {
    padding-left: 10px;
    padding-right: 10px;
    
}

.navbar-nav .nav-item a{
    transition: color .3s;
    
}

.navbar-nav .nav-item:hover a{
    color: #3ecf8e;
    
}

.navbar-nav .nav-item .nav-link {
    color: #6155d6;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item .nav-link i {
    font-size: 1rem;
    color: white;
    margin-left: 10px;
}

.navbar .container {
    padding: 0;
    height:100%;
    z-index: 1;
}

.navbar a {
    color: white;
    transition: color .2s;
}

.navbar-brand {
    height:100%;
    padding: 0;
    padding-left: 10px;
}

.navbar-brand img {
    height: 100%;
    transition: opacity .2s;
}

.navbar-brand img:hover {
    opacity: .8;
}

.navbar-toggler {
    padding-right: 10px;
}

.fas {
    color: white;
    font-size: 1.5em;
}

/*============================ Homepage ============================*/
main {
    margin-top: 20px;
}

.content {
    margin-top: 40px;
    z-index: 2;
}

.username {
    font-weight: 700;
    font-size: 20px;
    color: #3ecf8e;
}

.register-link {
    color: #3ecf8e;
}

.register-link:hover {
    color: #3ecf8e;
}

.issues-button {
    width: 200px;
    height: 60px;
    border: 1px solid #eeeeee;
    font-size: 1.375rem;
    display: flex;
    justify-content: center;
    align-items:center;
    transition: background-color .2s;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}

.issues-button:hover {
    cursor: pointer;
    background-color: #6155d6;
    color: white;
}

.issues-button a {
    color: #6155d6;
    text-decoration: none;
    transition: color .2s;
}

.issues-button:hover a {
    color: white;
}

.home-primary-content {
    padding-bottom: 40px;
}

.home-secondary-content {
    margin-top: 40px;
}

.home-secondary-content .icon {
    display: none;
}
.home-secondary-content i {
    font-size: 10em;
    color: #3ecf8e;
}

/*--------------------------- LOGIN FORM ---------------------------*/

#login-form {
    background-color: white;
    padding: 10px;
    margin-top:40px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}

#login-form .login-form-heading {
    width: 100%;
    text-align: center;
    color: #6155d6;
    font-size: 1.5rem;
} 

#login-form label {
    color: #444444;
}

#login-form input:focus {
    border-color: #3ecf8e;
    box-shadow: 0 0 0 0.2rem rgba(62, 207, 142, .25);
}

#login-form button {
    padding: 10px;
    width: 100%;
    font-size: 20px;
    color: white;
    background-color: #3ecf8e; 
    border: none;
    transition: background-color .3s, color .3s;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}

#login-form button:hover {
    background-color: white; 
    color: #3ecf8e;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link p {
    padding-top: 1rem;
    margin: 0;
}


/*========================== REGISTER PAGE - FORM ==========================*/
.register .register-content {
    border: 1px solid #eeeeee;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}

.register h1 {
    color: #6155d6;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

.register .login-link {
    padding-top: 1rem;
    text-align: center;
    margin:0;
}

.register .login-link a {
    color: #3ecf8e;
}

#register-form input:focus {
    border-color: #3ecf8e;
}

#register-form button {
    padding: 10px;
    width: 100%;
    font-size: 20px;
    color: white;
    background-color: #3ecf8e; 
    border: none;
    transition: background-color .3s, color .3s;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}

#register-form button:hover {
    background-color: white; 
    color: #3ecf8e;
}

/*========================== REGISTER ERROR PAGE ==========================*/
.register-error {
    margin-top:50px;
    width:100%;
    text-align: center;
    font-size: 1.25rem;
}

/*========================== REGISTER ERROR PAGE ==========================*/
.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-info article {
    padding: 10px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    flex-grow: 1; 
}

.profile-info h1 {
    font-size: 1.75rem;
    color: #6155d6;
    text-align: center;  
}

.purchase-upvotes-button {
    border: 1px solid #eeeeee;
    margin-top: 5px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}    

.other-info span {
    color: #45b2e8;
    font-weight: 700;
}

.purchase-upvotes-button a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: color .3s;
}

.purchase-upvotes-button a .purchase-button {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s;
    background-color: #45b2e8;
}

.purchase-upvotes-button a:hover {
    color: #45b2e8;
}

.purchase-upvotes-button a .purchase-button:hover {
    background-color: white;
}

.profile-image {
    display: flex;
    flex-direction: column;
}

.image {
    display: flex;
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.change-image-button {
    border: 1px solid #eeeeee;
    margin-top: 5px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}  

.change-image-button a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: color .3s;
}

.change-image-button a .change-button {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#3ecf8e;
    transition: background-color .3s;
}

.change-image-button a:hover {
    color: #3ecf8e;
}

.change-image-button a .change-button:hover {
    background-color: white;
}

.update-image {
    padding: 10px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}

.update-image h1 {
    font-size: 1.75rem;
    color: #6155d6;
    text-align: center;
}

.update-image > form {
    display: flex;
    flex-direction: column;
}

.update-image > form > input#id_image {
    padding: 10px;
    border: 1px solid #dddddd;
    width: 100%;
}

.update-button {
    background-color: #3ecf8e;
    color: white;
    border: none;
    border-radius: 3px;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    transition: background-color .3s, color .3s;
}

.update-button:hover {
    color: #3ecf8e;
    background-color: white;
}

/*========================== ISSUES ==========================*/
.buttons {
    margin-bottom: 40px;
}

.issue {
    margin-bottom: 10px;
}

.issue article {
    padding: 10px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}

.issue i {
    color: #666666;
}

.create-issue-button {
    margin-top: 5px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}  

.create-issue-button a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: color .3s;
}

.create-issue-button a span {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#3ecf8e;
    transition: background-color .3s;
}

.create-issue-button a:hover {
    color: #3ecf8e;
}

.create-issue-button a span:hover {
    background-color: white;
}

.issue-top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.issue-top-info > section {
    display: flex;
    align-items: center;
}

.status {
    padding: 3px 5px;
    margin: 0;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: .75rem;
}

.ic {
    background-color: #f5be58;
}

.ip {
    background-color: #3ecf8e;
}

.ct {
    background-color: #3297d3;
}

.issue-top-info > section > i:last-child {
    margin-left: 10px;
    color: #f6a4eb;
}

.upvotes-count {
    margin: 0;
    color: #3297d3;
    padding: 0 5px;
    border: 1px solid #dddddd;
}

.upvotes-count i {
    color: #3297d3;
    font-size: 1rem;
}

.issue-bottom-info {
    margin-top: 10px;
}

.issue-bottom-info a {
    color: #3297d3;
    white-space: pre-wrap;    
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;   
    white-space: -o-pre-wrap;   
    word-wrap: break-word;
}

.dates {
    margin-top: 10px;
    font-size: .75rem;
}

.dates p {
    margin: 0;
}

.dates p:first-of-type {
    margin-bottom: 5px;
}

.dates p:last-of-type {
    color: #666666;
}

/*========================== ISSUE DETAILS ==========================*/
.issue-details {
    display: flex;
    flex-direction: column;
}

.issue_title {
    font-size: 2rem;
}

.status-and-upvotes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.status-and-upvotes section:first-child {
    display:flex;
}

.status-and-upvotes i {
    font-size: 1.5rem;
    color: #666666;
}

.status-and-upvotes i.fa-trash-alt {
    margin-left: 10px;
    color: #f6a4eb;
}

.upvotes a {
    display: flex;
    align-items: center;
    font-size: 1rem;
    outline: 1px solid #dddddd;
    padding: 0 5px;
    color: #3297d3;
    text-decoration: none;
}

.upvotes a i {
    color: #3297d3;
    font-size: 1rem;
}

.upvotes a:hover {
    color: white;
    background-color: #3297d3;
    outline: none;
}

.upvotes a:hover i {
    color: white;
}

.upvotes p {
    margin: 0;
    
}

.upvotes-done {
    margin: 0;
    color: white;
    padding: 0 5px;
    background-color: #3297d3;
}

.upvotes-done i {
    color: white;
    font-size: 1rem;
}

.description {
    margin-top: 10px;
}

.description p {
    margin: 0;
}

.date {
    margin-top: 10px;
    font-size: .75rem;
}

.date p {
    margin: 0;
}

.comments {
    margin-top: 40px;
}

.comments form {
    display:flex;
    flex-direction: column;
}
.comment-add-form textarea:focus {
    border-color: #3ecf8e;
    box-shadow: 0 0 0 0.2rem rgba(62, 207, 142, .25);
}

.comment-add-form button {
    padding: 10px;
    width: 100%;
    font-size: 20px;
    color: white;
    background-color: #3ecf8e; 
    border: none;
    transition: background-color .3s, color .3s;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}

.comment-add-form button:hover {
    background-color: white; 
    color: #3ecf8e;
}

.comments-list {
    margin-top: 40px;
}

.comment {
    display: flex;
    margin-top: 20px;
}

.comment-content {
    width: 100%;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}
.user-image {
    margin-right: 10px;
}

.user-image section {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.comment-header {
    font-size: .75rem;
}

.comment-header p {
    margin: 0;
}

.comment-body p {
    white-space: pre-wrap;    
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;   
    white-space: -o-pre-wrap;   
    word-wrap: break-word;
}

/*========================== CREATE ISSUE ==========================*/
.create-issue article {
    padding: 10px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}

.create-issue h1 {
    color: #6155d6;
    font-size: 1.75rem;
    text-align: center;
}

.create-issue form {
    display: flex;
    flex-direction: column;
}

.create-issue form input:focus,
.create-issue form select:focus,
.create-issue form textarea:focus {
    border-color: #3ecf8e;
    box-shadow: 0 0 0 0.2rem rgba(62, 207, 142, .25);
}

.create-issue button {
    padding: 10px;
    width: 100%;
    font-size: 20px;
    color: white;
    background-color: #3ecf8e; 
    border: none;
    transition: background-color .3s, color .3s;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    -moz-box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
    box-shadow: 0px 0px 9px -6px rgba(97,85,214,1);
}

.create-issue button:hover {
    background-color: white; 
    color: #3ecf8e;
}


/*========================== FOOTER ==========================*/
footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #eeeeee;
    margin-top: 70px;
}

footer p {
    margin: 0;
}
/*========================== MEDIA QUERIES ==========================*/
@media only screen and (min-width: 576px) {
    #navbarSupportedContent {
        height: 100%
    }
    
    .navbar-nav {
        background-color: #6155d6;
        border-bottom: none;
    }
    
    .navbar-nav .nav-item .nav-link {
        color: white;
    }
    
    #login-form {
        padding: 20px;
    }
    
    .register .register-content {
        padding: 20px;
    }
    
    .profile-info article {
        padding: 20px;
    }
    
    .profile-info h1 {
        text-align: left;
    }
    
    .update-image {
        padding: 20px;
    }
    
    .update-image h1 {
        text-align: left;
    }
    
    .dates {
        display: flex;
        justify-content: space-between;
    }
    
    .create-issue h1 {
        text-align: left;
    }
    
    .create-issue article {
        padding: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .profile-info {
        padding-right: 0;
    }
    
    .profile-image {
        padding-left: 5px;
    }
    
    .profile-username {
        margin-top: 0;
    }
    
    .change-image-button {
        max-width: 250px;
        align-self: center;
    }
    
    .purchase-upvotes-button {
        max-width: 250px;
        align-self: center;
    }
    
    .update-button {
        max-width: 250px;
        align-self: flex-end;
    }
    
    .comment-add-form button {
        max-width: 250px;
        align-self: flex-end;
    }
    
    .create-issue-button {
        max-width: 250px;
    }
    
    .update-image > form {
        flex-direction: row;
        
    }
    
    .update-image > form input#id_image {
        padding: 10px;
    }
    
    .update-image > form button {
        margin-left: 10px;
        margin-top: 0;
        align-self: center;
    }
    
    .create-issue button {
        max-width: 250px;
        align-self: flex-end;
    }
}

@media only screen and (min-width: 992px) {
    .content {
        margin-top: 70px;
    }
    
    #login-form {
        margin-top: 0;
    }
    
    .home-secondary-content .icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .issue article {
        padding: 20px;
    }
}