{% extends 'base.html' %} {% block page.title %}Profile Page{% endblock %} {% block content %}
<main class="container content">
      <section class="row">
            <section class="col">
                  <section class="update-image">
                        <h1>Update image</h3>
                        {% if messages %}
                            <section class="messages">
                        {% for message in messages %}
                                <p>{{ message }}</p>
                        {% endfor %}
                            </section>
                        {% endif %}
                        <hr>
                        <form name="update-image-form" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form }}
                            <button class="update-button" type="submit">Update image</button>
                        </form>
                  </section>
            </section>
      </section>
</main>
{% endblock %}
