{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block js %}{% endblock %}
{% block page.title %}Issue Tracker{% endblock %}
{% block content %}
{% if message %}
<section class="row">
    <span class="message">{{ message }}</span>
</section>
{% endif %}
<main class="container content">
    <section class="row home-primary-content">
        {% if user.is_authenticated %}
        <section class="col">
            <h1>Issue Tracker</h1>
            <h2>Report issues and suggest new features</h2>
            <hr>
            <p>Welcome <span class="username">{{ user.username }}</span>! Head on over to the issues page to start reporting any issues you've come across or to contribute your suggestions to improve our app!</p>
            <div class="issues-button"><a href="{% url 'all_issues' %}">View issues</a></div>
        </section>
        {% else %}
        <section class="col-sm-12 col-lg-7">
            <h1>Issue Tracker</h1>
            <h2>Report issues and propose new features</h2>
            <hr>
            <p>A place where you can report the bugs you've come across and suggest new features you'd like to see implemented in our Unicorn Attractor app.</p>
            <p>Check out all issues being tracked or <a href="{% url 'register' %}" class="register-link">register an account</a> to add new issues.</p>
            <div class="issues-button"><a href="{% url 'all_issues' %}">View issues</a></div>
        </section>
        <section class="col-sm-12 col-lg-5">
            <form id="login-form" method="POST" action="{% url 'login' %}">
                <p class="login-form-heading">Log in</p>
                {% csrf_token %}
                    
                {{ login_form|as_bootstrap }}
                <button type="submit">Login</button>
                <section class="link">
                    <p>Don't have an account yet?</p>
                    <a href="{% url 'register' %}" class="login-register-link">Register now!</a>
                </section>
            </form>
        </section>
        {% endif %}
    </section>
    <hr>
    <section class="row home-secondary-content">
        <article class="col-sm-12 col-lg-6">
            <h3>How it works</h1>
            <p>Issues come in two varieties - bugs and features.
                <br><br>
                You can create new issue tickets for bugs you've come across or if there already exists an issue for that specific bug, you can upvote that issue to signify that you've come across it too.
                <br><br>
                If you've thought of a feature that you'd like implemented in our application, create a new feature request issue describing it. You can also upvote other user's feature requests to signify that you too would like to see them implemented. 
                <br><br>
                Our development time is spent on the bugs and features with the highest priority(the highest number of upvotes).  Each user can upvote a specific bug ticket only once and a feature request an unlimited amout of times, provided they have upvotes to spend.
                <br><br>
                We promise to spend 50% of our time developing new features. In order to do that we charge &euro;5 for an upvote which can be spent on upvoting feature requests.
            </p>
        </article>
        <section class="col-sm-12 col-lg-6 icon">
            <i class="fas fa-question"></i>
        </section>
        <section class="col-sm-12 col-lg-6 icon">
            <i class="fas fa-cogs"></i>
        </section>
        <article class="col-sm-12 col-lg-6">
            <h3>Latest Issues</h1>
            <section class="recent-issues">
                {% for issue in issues|slice:"6" %}
                <section class="issue">
                    {% if issue.issue_type == "BG" %}
                        <section class="issue-icon">
                            <i class="fas fa-bug" title="Bug"></i>
                        </section>
                    {% else %}
                        <section class="issue-icon">
                            <i class="far fa-lightbulb" title="Feature"></i>
                        </section>
                    {% endif %}
                    {% if issue.title|length > 11 %}
                    <a href="{% url 'issue_details' issue.id %}" class="small-display"><p>{{ issue.title|slice:"11" }}&hellip;</p></a>
                    {% else %}
                    <a href="{% url 'issue_details' issue.id %}" class="small-display"><p>{{ issue.title }}</p></a>
                    {% endif %}
                    {% if issue.title|length > 32 %}
                    <a href="{% url 'issue_details' issue.id %}" class="large-display"><p>{{ issue.title|slice:"32" }}&hellip;</p></a>
                    {% else %}
                    <a href="{% url 'issue_details' issue.id %}" class="large-display"><p>{{ issue.title }}</p></a>
                    {% endif %}
                    <p class="created-date">{{ issue.created|date:"jS F Y" }}</p>
                </section>
                {% endfor %}
            </section>
        </article>
    </section>
</main>
{% endblock %}