{% extends 'base.html' %}
{% load static from staticfiles %}
<!-- Page to allow a user to complete their purchase -->
{% block js %}
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'js/stripe.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    //<![CDATA[
    const publishableKey = '{{ publishable }}';
    //]]>
  });
</script>
{% endblock %}

{% block page.title %}Payment Details{% endblock %}

{% block content %}
<main class="container content">
  <section class="row">
    <section class="col-sm-12">
      <article class="checkout">
        <h1>Checkout</h1>
        <hr> 
        {% if messages %}
        <!-- Messages to show in case of a card error -->
        <section class="messages">
          {% for message in messages %}
          <p>{{ message }}</p>
          {% endfor %}
        </section>
        {% endif %}
        <article class="purchase-details">
          <h2>Purchase Details</h2>
          <section>
            <p>Number of upvotes:</p>
            <p>{{ upvotes_amount }}</p>
          </section>
          <section>
            <p>Price per upvote:</p>
            <p>&euro;5</p>
          </section>
          <hr>
          <section>
            <p>Total:</p>
            <p>&euro;{{ total_price }}</p>
          </section>
        </article>
        <form role="form" id="payment-form" method="POST">
          <!-- Form to complete purchase -->
          {% csrf_token %}
          <section class="form-row">
            <label for="card-element">Credit or debit card</label>
            <section id="card-element">
              <!-- A Stripe Element will be inserted here. -->
            </section>
            <!-- Used to display form errors. -->
            <section id="card-errors" role="alert"></section>
          </section>
          <button class="button make-purchase" type="submit" value="Make purchase">
            Purchase
          </button>
        </form>
      </article>
    </section>
  </section>
</main>
{% endblock %}
